{
  "type" : "CFDEMcoupling",
  "runs" : [
    {
      "name" : "cfdemrun",
      "solver" : "cfdemSolverIB",
      "type" : "CFDEMcoupling/mpi",
      "nprocs" : 4,
      "data" : {
          "series" : [
            {"name" : "velocity1", "file" : "velocity_particle_1.txt", "columns" : ["t", "vx", "vy", "vz"]},
            {"name" : "velocity2", "file" : "velocity_particle_2.txt", "columns" : ["t", "vx", "vy", "vz"]},
            {"name" : "position1", "file" : "position_particle_1.txt", "columns" : ["t", "x", "y", "z"]},
            {"name" : "position2", "file" : "position_particle_2.txt", "columns" : ["t", "x", "y", "z"]}
          ],
          "plots" : [
            {"name" : "z-position", "title" : "Particle z-Position", "xdata" : "position1.t", "ydata" : ["position1.z", "position2.z"], "xlabel" : "time [s]", "ylabel" : "position [cm]"},
            {"name" : "z-velocity", "title" : "Particle z-Velocity", "xdata" : "velocity1.t", "ydata" : ["velocity1.vz", "velocity2.vz"], "xlabel" : "time [s]", "ylabel" : "velocity [cm/s]"}
          ]
      }
    }
  ]
}
