{
  "type" : "CFDEMcoupling",
  "runs" : [
    {
      "name" : "liggghts-init",
      "input_script" : "DEM/in.liggghts_init",
      "type" : "liggghts/serial"
    },
    {
      "name" : "cfdemrun",
      "depends_on" : "liggghts-init",
      "solver" : "cfdemSolverRhoPimple",
      "type" : "CFDEMcoupling/mpi",
      "nprocs" : 4,
      "pre_scripts" : ["prerun.sh"],
      "post_scripts" : ["postrun.sh"]
    }
  ]
}
