{
  "type" : "CFDEMcoupling",
  "runs" : [
    {
      "name" : "liggghts-init",
      "input_script" : "DEM/in.liggghts_init",
      "type" : "liggghts/serial"
    },
    {
      "name" : "cfdemrun",
      "depends_on" : "liggghts-init",
      "input_script" : "DEM/in.liggghts_run",
      "solver" : "cfdemSolverPiso",
      "type" : "CFDEMcoupling/mpi",
      "nprocs" : 4,
      "pre_scripts" : ["prerun.sh"]
    },
    {
      "name" : "cfdemrun-restart",
      "depends_on" : "cfdemrun",
      "input_script" : "DEM/in.liggghts_restart",
      "solver" : "cfdemSolverPiso",
      "type" : "CFDEMcoupling/mpi",
      "nprocs" : 4,
      "pre_scripts" : ["prerun_restart.sh"]
    }
  ]
}
