{
  "type" : "CFDEMcoupling",
  "runs" : [
    {
      "name" : "cfdemrun",
      "solver" : "cfdemSolverIB",
      "type" : "CFDEMcoupling/mpi",
      "nprocs" : 4,
      "data" : {
          "series" : [
            {"name" : "angular_velocity", "file" : "angular_velocity.txt", "columns" : ["t", "omegax", "omegay", "omegaz"]},
            {"name" : "position", "file" : "position.txt", "columns" : ["t", "x", "y", "z"]}
          ],
          "plots" : [
            {"name" : "z-omega", "title" : "Particle z-Angular Velocity", "xdata" : "angular_velocity.t", "ydata" : ["angular_velocity.omegaz"], "xlabel" : "time [s]", "ylabel" : "angular velocity [1/s]"},
            {"name" : "y-position", "title" : "Particle y-Position", "xdata" : "position.t", "ydata" : ["position.y"], "xlabel" : "time [s]", "ylabel" : "position [m]"}
          ]
      }
    }
  ]
}
