{
  "type" : "CFDEMcoupling",
  "runs" : [
    {
      "name" : "liggghts-init",
      "input_script" : "DEM/in.liggghts_init",
      "type" : "liggghts/serial"
    },
    {
      "name" : "cfdemrun",
      "depends_on" : "liggghts-init",
      "solver" : "cfdemSolverIBContinuousForcing",
      "type" : "CFDEMcoupling/mpi",
      "nprocs" : 2,
      "data" : {
          "series" : [
            {"name" : "position", "file" : "particle_position.txt", "columns" : ["t", "x1", "y1", "z1", "x2", "y2", "z2", "x3", "y3", "z3", "x4", "y4", "z4", "x5", "y5", "z5", "x6", "y6", "z6", "x7", "y7", "z7", "x8", "y8", "z8", "x9", "y9", "z9", "x10", "y10", "z10"]}
          ],
          "plots" : [
            {"name" : "x-position", "title" : "Particle x-Position", "xdata" : "position.t", "ydata" : ["position.x1","position.x2","position.x3","position.x4","position.x5","position.x6","position.x7","position.x8","position.x9","position.x10"], "xlabel" : "time [1e-6 s]", "ylabel" : "position [1e-6 m]"},
            {"name" : "y-position", "title" : "Particle y-Position", "xdata" : "position.t", "ydata" : ["position.y1","position.y2","position.y3","position.y4","position.y5","position.y6","position.y7","position.y8","position.y9","position.y10"], "xlabel" : "time [1e-6 s]", "ylabel" : "position [1e-6 m]"},
            {"name" : "z-position", "title" : "Particle z-Position", "xdata" : "position.t", "ydata" : ["position.z1","position.z2","position.z3","position.z4","position.z5","position.z6","position.z7","position.z8","position.z9","position.z10"], "xlabel" : "time [1e-6 s]", "ylabel" : "position [1e-6 m]"}
          ]
      }
    }
  ]
}
