{
  "type" : "CFDEMcoupling",
  "runs" : [
    {
      "name" : "cfdemrun",
      "solver" : "cfdemSolverPiso",
      "type" : "CFDEMcoupling/mpi",
      "nprocs" : 2,
      "data" : {
          "series" : [
            {"name" : "velocity", "file" : "velocity.txt", "columns" : ["t", "vx", "vy", "vz"]}
          ],
          "plots" : [
            {"name" : "velocity", "title" : "Particle Velocity", "xdata" : "velocity.t", "ydata" : ["velocity.vx", "velocity.vy", "velocity.vz"], "xlabel" : "time [s]", "ylabel" : "velocity [m/s]"}
          ]
      }
    }
  ]
}
